* {
  wigth: 0;
  height: 0;
  
}
body {
  display: flex;
  background-color: black;


}

.square {
  wigth: 100px;
  height: 150px;
  background-color: white;
  border-radius: 20px;
  margin: auto;
  padding: 150px 50px 150px 50px;
}
